.App {
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: var(--very-dark-blue);
  height: 100%;
  font-family: 'LexendDeca';
  font-size: 15px;
  padding-top: 88px;
  padding-bottom: 88px;
  /* display: flex; */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-desaturated-blue);
  /* margin: 0 auto 0; */
  margin: auto;
  text-align: center;
  border-radius: 10px;
  width: 327px;
}
/* .filter {
  width: 327px;
  height: 240px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */
.header {
  width: 327px;
  height: 240px;
  background-image: linear-gradient(var(--soft-violet-transparent), var(--soft-violet-transparent)), url("image-header-mobile.jpg");
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: brightness(0.8) contrast(145%) saturate(1.1);
}

.content {
  width: 100%;
  padding: 20px 24px 10px;
  /* margin-bottom: 20px; */
  
}
.content h1 {
  font-family: "Inter";
  color: var(--white);
  font-size: 28px;
  line-height: 1.15;
}
.content h1 > span {
  color: var(--soft-violet);
}
.content p {
  color: var(--slightly-transparent-white2);
  line-height: 1.6;
  margin-bottom: 40px;
}
.content .detail {
  color: var(--slightly-transparent-white2);
  margin-bottom: 28px;
}
.content .number {
  font-size: 24px;
  color: var(--white);
}
.content .item {
  font-family: 'Inter';
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 5px;
}

@media (min-width: 1100px) {
  .App {
    /* background-image: url("desktop-design.jpg"); */
    display: flex;
    height: 100vh;
    padding: 0;
  }
  .card {
    flex-direction: row;
    width: 1112px;
    height: 446px;
  }
  .header {
    width: 540px;
    height: 446px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(var(--soft-violet-transparent), var(--soft-violet-transparent)), url("image-header-desktop.jpg");
  }
  .content {
    width: 476px;
    text-align: left;
    padding: 0 0 0 72px;
    margin-right: 96px;
  }
  .content h1 {
    font-size: 36px;
    /* padding-bottom: px; */
    line-height: 1.25;
  }
  .content p {
    font-size: 14.5px;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 30px;
    line-height: 1.7;
  }
  .bottom {
    display: flex;
    padding-bottom: 20px;
  }
  .bottom .detail {
    /* padding-right: 60px; */
    margin-bottom: 0;
  }
  .bottom .detail:first-child {
    padding-right: 66px;
  }
  .bottom .detail:nth-child(2) {
    padding-right: 57px;
  }
}


@font-face {
  font-family: "LexendDeca";
  font-weight: 400;
  src: url(LexendDeca-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(Inter-Bold.ttf) format("truetype");
}


